@using App2.BLL.ModelVM.Department
@model CreateDepartmentVM

<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
                @SharedLocalizer["Add Department"]
            </h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label class="form-label fw-semibold">@SharedLocalizer["Name"]</label>
                    <input asp-for="Name" class="form-control" placeholder="@SharedLocalizer["Enter department name"]"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">@SharedLocalizer["Area"]</label>
                    <input asp-for="Area" class="form-control" placeholder="@SharedLocalizer["Enter the area"]" />
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-2">@SharedLocalizer["Save"]</button>
                    <a asp-action="Index" class="btn btn-secondary">@SharedLocalizer["Cancel"]</a>
                </div>
            </form>
        </div>
    </div>
</div>
